<%= render :partial => "views/base/top", :locals => {:bodyClass => false} %>
<div class="wrapper wrapper_pb-footer book">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>

            <h2>Новое бронирование</h2>
        </div>
    </header>
    <div class="content">
        <h2 class="book-title">
            Воспользуйтесь нашей формой для <br>
            бронирования, Все совершенно бесплатно!
        </h2>

        <div class="book-list">
            <div class="book-list-item">
                <a class="book-list-btn" href="javascript:void(0);">Ресторан</a>
            </div>
            <div class="book-list-item">
                <a class="book-list-btn" href="javascript:void(0);">Выбор даты</a>
            </div>
            <div class="book-list-item">
                <a class="book-list-btn" href="javascript:void(0);">Выбор времени</a>
            </div>
            <div class="book-list-item">
                <a class="book-list-btn" href="javascript:void(0);">
                    <i class="pull-left">-</i>
                    4 человека
                    <i class="pull-right">+</i>
                </a>
            </div>
        </div>


    </div>
    <div class="float_bottom float_bottom_smaller">
        <a class="btn_red" href="javascript:void(0);">Поиск</a>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



