<%= render :partial => "views/base/top", :locals => {:bodyClass => false} %>
<div class="wrapper hint-list">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>

            <h2>
                Тандыр
                <span class="header-sub-title">подсказки</span>
            </h2>
        </div>
    </header>
    <div class="list-wrapper">
        <div class="list">
            <% (1..5).each do |n| %>
                <div class="list__item">
                    <div class="list__item__main">
                        <div class="clearfix">
                            <img class="pull-left" src="http://placehold.it/25x35">
                            <h2 class="list__item__title">
                                <div class="pull-left">
                                    John Doe
                                    <time>14.05.2013</time>
                                </div>
                                <span class="list__item__distance">Завоеватель</span>
                            </h2>
                        </div>

                        <div class="list__item__info">


                            <div class="list__item__address">
                                Неплохое место! Сходил с подругой. Хоть нам еще нет 18-ти, продали по маргарите) Очень понравилось!Хоть нам еще нет 18-ти, продали по маргарите) Очень понравилось!
                            </div>

                            <div class="list__item__rate">
                                <div class="pull-left">Оцените эту подсказку</div>

                                <div class="list__item__vote pull-right">
                                    <a class="list__item__vote-like" href="javascript:void(0);">+59<i class="ico-like2"></i></a>
                                    <a class="list__item__vote-dislike" href="javascript:void(0);">-11<i class="ico-dislike"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="list__item__secondary">
                        <a class="ico-chat" href="javascript:void(0);"></a>
                        <a class="ico-share3" href="javascript:void(0);"></a>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
    <div class="float_bottom">
        <a class="btn btn_green" href="javascript:void(0);"><i class="ico-check"></i>Добавить свою подсказку</a>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



