<%= render :partial => "views/base/top"  , :locals => { :bodyClass => false}%>

<ol class="wrapper">
    <li><a href="loading.html">loading.html</a></li>
    <li><a href="login.html">login.html</a></li>
    <li><a href="registration_main.html">registration_main.html</a></li>
    <li><a href="registration_step1.html">registration_step1.html</a></li>
    <li><a href="registration_step2.html">registration_step2.html</a></li>
    <li><a href="vanue_list.html">vanue_list.html</a></li>
    <li><a href="profile_main.html">profile_main.html</a></li>
</ol>

<%= render :partial => "views/base/bottom" %>


