<%= render :partial => "views/base/top" %>

<ul class="wrapper">
    <li><a href="loading.html">loading.html</a></li>
    <li><a href="login.html">login.html</a></li>
    <li><a href="registration_main.html">registration_main.html</a></li>
    <li><a href="registration_step1.html">registration_step1.html</a></li>
    <li><a href="registration_step2.html">registration_step2.html</a></li>
</ul>

<%= render :partial => "views/base/bottom" %>


