<%= render :partial => "views/base/top"  , :locals => { :bodyClass => false}%>

<div class="wrapper">
    <a class="ico-logo login__logo" href="javascript:void(0);"></a>
</div>
<%= render :partial => "views/base/bottom" %>



