<%= render :partial => "views/base/top" %>

<div class="wrapper">
    <a class="ico-logo login__logo" href="javascript:void(0);"></a>

        <form class="login-form" action="#">
            <div class="login-form__email"><input type="email" placeholder="Login or email"/></div>
            <div class="login-form__password"><input type="password" placeholder="Password"/></div>
            <input class="btn_black" type="submit" value="Войти"/>
        </form>

        <p class="login__info">Вход/Регистрация через аккаунт <br/>
            в соцсетях:</p>
        <ul class="nav_share">
            <li><a class="ico-vk" href="javascript:void(0);"></a></li>
            <li><a class="ico-twitter" href="javascript:void(0);"></a></li>
            <li><a class="ico-fb" href="javascript:void(0);"></a></li>
        </ul>
</div>
<%= render :partial => "views/base/bottom" %>



