<%= render :partial => "views/base/top"  , :locals => { :bodyClass => false}%>
<div class="wrapper wrapper_pb-footer new-rewiev">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>

            <h2>Новый отзыв</h2>
        </div>
    </header>
    <div class="content">
        <i class="ico-sad"></i>

        <div class="new-rewiev-cafe">
            <i class="ico-lunch2"></i>

            <div class="center">
                <h3>Тандыр</h3>
                <h4>Киевская ул, 11, Козин, Киевская обл.</h4>
            </div>
        </div>


        <div class="new-rewiev-warn">
            чтобы оставить отзыв о
            ресторане пожалуйста
            сначала забронируйте стол
            и посетите заведение
            <i class="icon-long-arr"></i>
        </div>

    </div>
    <div class="float_bottom float_bottom_smaller">
        <a class="btn_red" href="javascript:void(0);">Забронировать стол в ресторане</a>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



