<%= render :partial => "views/base/top", :locals => {:bodyClass => "white-bg "} %>
<div class="wrapper wrapper_pb-footer value-list_possible">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>

            <h2>
                Тандыр
                <span class="header-sub-title">в ресторане</span>
            </h2>

            <a class="ico-like header__ico_r" href="javascript:void(0);"></a>
        </div>
    </header>
    <div class="list-wrapper">
        <div class="list list_search">
            <div class="list__item ">
                <div class="list__item__main">
                    <i class=" list_search__ico list_search__star"></i>

                    <div class="list__item__info">
                        <h2 class="list__item__title">
                            Добавить отзыв
                        </h2>
                        <div class="list__item__address">
                            о заведении
                        </div>
                        <i class="ico-arr-r"></i>
                    </div>
                </div>
            </div>
            <div class="list__item">
                <div class="list__item__main">
                    <i class=" list_search__ico list_search__pencil"></i>

                    <div class="list__item__info">
                        <h2 class="list__item__title">
                            Добавить подсказку
                        </h2>
                        <div class="list__item__address">
                            о заведении
                        </div>
                        <i class="ico-arr-r"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float_bottom float_bottom_smaller">
        <a class="btn_red " href="javascript:void(0);"><i class="ico-thumb"></i>Рекомендовать ресторан</a>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



