<%= render :partial => "views/base/top", :locals => {:bodyClass => false} %>
<div class="wrapper wrapper_pb-footer notify-list">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>
            <h2>Уведомления</h2>
        </div>
    </header>
    <div class="content">
        <div class="list">
            <div class="list__item nl-person">
                <time>
                    33m
                    <i></i>
                </time>
                <article class="center">
                    <img class="pull-left" src="http://placehold.it/25x35">
                    <p>
                        <span>Ура, Пользователь </span>
                        <span class="red">Alina Gerasimova</span> приняла Ваш запрос на дружбу!</p>
                </article>
            </div>
            <div class="list__item nl-person">
                <time>
                    33m
                    <i></i>
                </time>
                <article class="center">
                    <img class="pull-left" src="http://placehold.it/25x35">
                    <p>
                        <span>Ура, Пользователь </span>
                        <span class="red">Alina Gerasimova</span> приняла Ваш запрос на дружбу!</p>
                </article>
            </div>
            <div class="list__item nl-person">
                <time>
                    33m
                    <i></i>
                </time>
                <article class="center">
                    <img class="pull-left" src="http://placehold.it/25x35">
                    <p>
                        <span>Ура, Пользователь </span>
                        <span class="red">Alina Gerasimova</span> приняла Ваш запрос на дружбу!</p>
                </article>
            </div>
            <div class="list__item nl-check">
                <time>
                    33m
                    <i></i>
                </time>
                <article class="center">
                    <i class="pull-left ico-food3"></i>
                    <p>
                        <span>Ура, Пользователь </span>
                        <span class="red">Alina Gerasimova</span> приняла Ваш запрос на дружбу!</p>
                </article>
            </div>
        </div>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



