<footer class="footer">
    <ul class="footer__nav">
        <li><a class="ico-nav1" href="javascript:void(0);"></a></li>
        <li><a class="ico-nav2" href="javascript:void(0);"></a></li>
        <li><a class="ico-nav3" href="javascript:void(0);"></a></li>
        <li><a class="ico-nav4" href="javascript:void(0);"></a></li>
        <li><a class="ico-nav5 active" href="javascript:void(0);"></a></li>
    </ul>
</footer>

