<script src="js/vendors/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".value-list .list__item,.hint-list .list__item, .profile__user__row_soc, .vd-map").on("click",function(){
            $(this).toggleClass("opened")
        })

        $(".value-list-map .show-on-map").on("click",function(){
            $(".header").toggleClass("map-opened")
        })
    })
</script>
<%= livereload_js unless ENV["RACK_ENV"] == "production" %>
</body>
</html>