.book{
  background: #353535;
  padding: 47px 0 47px 0 !important;
  .content{
    padding: 0;
    @include border-radius(0px);
  }
  .float_bottom{
    border: 0;
  }
}

.book-title {
  background: #353f48;
  font-size: 14px;
  color: #a2a5a8;
  line-height: 1.3;
  width: 100%;
  height: 70px;
  text-align: center;
  @include box-sizing(border-box);
  padding: 15px 0 0;
  border-bottom: 1px solid #2f2f2f;
}

.book-list{
  padding: 0 15px;
  @include box-sizing(border-box);
  .book-list-btn{
    cursor:pointer;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 49px;
    background: #e37171;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 0;
    &:after {
      display: none !important;
    }
    i{
      display: block;
      width: 50px;
      height: 100%;
      line-height: 49px;
      position: absolute;
      top: 0;
      background: #e98d8d;
      font-size: 26px;
      cursor: pointer;
      &.pull-left{
        left: 0;
      }
      &.pull-right{
        right: 0;
      }
    }
  }
}

.book-list-select{

}

.book-list-item{
  margin-top: 16px;
  height: 49px;
  &.opened{
    .book-list-select{
      display: none;
    }
  }
  .new-rewiev-cafe{
    padding: 0 25px 0 0;
    position: relative;
    height: 49px;
    .ico-arr-r2{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -9px;
      z-index: 2;
    }
    .ico-lunch2,
    .ico-time3,
    .ico-time4{
      top: 8px;
      float: left;
      margin: 0 18px 0 0;
    }
    .ico-time3,
    .ico-time4{
      top: 12px;
    }
    .center{
      position: relative;
      top: 6px;
    }
  }
}
.book-list-time{
  overflow: hidden;
  padding-top: 10px;
  h3{
    padding-top: 3px;
  }
  time{
    color: #fff !important;
    font-size: 15px;
    padding: 7px 0 0;
  }
}

