.header {
  @extend .clearfix;
  z-index: 10000;
  height: 47px;
  background: #d45657;
  color: #fff;
  @include box-sizing(border-box);
  padding: 0 $headerPaddingLR;
  .ico-arr-l{
    margin-top: 15px;
  }
  h2{
    line-height: 47px;
    height: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;

  }
}
.header__title{
  font-size: 22px;
  display: block;
  height: 47px;
  line-height: 47px;
}
.header__ico_l{
  position: absolute;
  left: $headerPaddingLR;
  top: 15px;
}
.header__ico_r{
  @extend .header__ico_l;
  left: auto;
  right: $headerPaddingLR;
}
.header__ico_r2{
  @extend .header__ico_r;
  right: 54px;
}
.header_fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-sub-title{
  font-size: 12px;
  color: #e8b0b1;
  display: block;
}
