.header {
  @extend .clearfix;
  z-index: 10000;
  height: 47px;
  background: #d45657;
  color: #fff;
  @include box-sizing(border-box);
  padding: 0 $headerPaddingLR;
  .ico-arr-l{
    margin-top: 15px;
  }
}
.header_fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

