html,body{
  height: 100%;
}
body {
  font-family: $fontNameRegular;
  color: $textColor;
  background: #d45657;
  &.white-bg {
    background: #fff;
  }
}

.wrapper {
  @extend .clearfix;
  padding: 0 $wrapperPaddings;
  @include box-sizing(border-box);
  min-height: 100%;
}

.wrapper_no-pad {
  padding-left: 0;
  padding-right: 0;
}

.wrapper_pb-footer {
  padding-bottom: 49px !important;
}

a {
  color: #364049;

}

* {
  outline: none;
  -webkit-font-smoothing: antialiased !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

.db {
  display: block;
}

.dib {
  display: inline-block !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.center {
  overflow: hidden !important;
}

.tac {
  text-align: center !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.nav {
  list-style: none;
  @extend .clearfix;
}

a {
  text-decoration: none;
}

.nav_hor {
  @include horizontal-list;
  @extend .nav;
  overflow: visible;
}

.float_bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.float_bottom_smaller {
  @include box-sizing(border-box);
  padding: 7px 3px 4px 3px;
  border-top: 1px solid #b2b2b2;
}

.dark-bg {
  background: #353535 !important;
}

.ios7 {

  .header {
    top: 20px;
  }
  .wrapper{
    margin-top: 20px;
  }
}

.debug {
  .header,
  .footer {
    position: absolute;
  }
  width: 320px;
  height: 548px;
  position: relative;
  @include box-sizing(border-box);
  border: 1px solid #000;
}




