$ico-list: ico-fb,
              ico-lock,
              ico-person,
              ico-twitter,
              ico-vk,
              ico-logo,
              ico-arr-d,
              ico-arr-l,
              ico-location,
              ico-search,
              ico-arr-d_red,
              ico-arr-d_red2,
              ico-gear,
              ico-person_s,
              ico-location_s ,
              ico-star_s,
              ico-connect_s,
              ico-arr-r_s,
              ico-arr-r_b,
              list_search__pin,
              list_search__top,
              list_search__like,
              list_search__bookmark,
              ico-arr-r
;

%ico-item{
  position: relative;
  display: inline-block;
}
@each $item in $ico-list {
  $selector: unquote(".#{$item}");
  #{$selector}{
    @extend %ico-item;
    @include sprite-background($item,$sprites);
  }
}

.ico-logo{
  margin: 0 auto;
}

.ico-logo-t{
  width: 194px;
  height: 28px;
  display: block;
  margin: 23px auto 47px;
  position: relative;
  @include box-sizing(border-box);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    @extend .ico-logo;
  }
}

$icons-nav:
            ico-nav1,
            ico-nav2,
            ico-nav3,
            ico-nav4,
            ico-nav5;

@each $item in $icons-nav {
  $selector: unquote(".#{$item}");
  #{$selector}{
    @extend %device;
    $height: ceil(image-height(sprite-file($sprites, $item)) / 2) + 1;
    $width: ceil(image-width(sprite-file($sprites, $item)) / 2);
    @include sprite-background($item,$sprites);
    margin-left: $width/-2;
    &.active{
      @include sprite-background("#{$item}_a",$sprites,false);
    }
  }
}

