.status {
  background: #353f48;
  padding-left: 0;
  padding-right: 0;
  padding-top: 47px;
  .ico-share {
    position: relative;
    top: 11px;
  }
  .list__item {
    border-bottom: 1px solid #303941;
    .list__item__main {
      padding-right: 30px;
    }
    .list__item__info {
      display: table-cell;
      height: 66px;
      height: 68px;
      vertical-align: middle;
    }
    .list__item__title {
      font-size: 17px;
      color: #fff;
      padding: 0;
      display: inline;
    }
    .ico-arr-r {
      margin-top: 0;
    }
  }
  .vd-map-nav{
    height: 61px;
    .ico-arr-d{
      top: 26px;
    }
    address{
      padding-left: 37px;
    }
    .ico-located{
      top: 18px;
    }
  }
  .vd-map-close{

  }
}

.vd-map-flag{
  @extend .vd-map-close;
  right: auto;
  left: 16px;
  i{
    top: 7px;
    left: 7px;
  }
}
.status_box {
  background: #fff;
  border-top: 2px dotted #dcdcdc;
  overflow: hidden;
  padding: 17px 13px 10px;
}

.sb-info {
  border-top: 0;
  overflow: hidden;
}

.sb-info_item {
  overflow: hidden;
  padding: 0 0 0 36px;
  position: relative;
  text-transform: uppercase;
  color: #353f48;
  font-size: 12px;
  line-height: 1.3;
  margin-top: 33px;
  &:first-child {
    margin-top: 0;
  }
  i {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.sb-info_time {
  color: #d45657;
  text-align: right;
  time {
    color: #353f48;
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
  }
  h4, h5 {
    font-size: 36px;
    padding-bottom: 9px;
    &:last-child {
      padding-bottom: 0;
    }
    i {
      display: inline-block;
    }
    span {
      font-size: 24px;
      position: relative;
      top: -5px;
      padding: 0 0 0 6px;
    }
  }
}

.sb-super {
  h3 {
    text-align: center;
    color: #353f48;
    font-size: 12px;
    padding-bottom: 19px;
    text-transform: uppercase;
  }
  article {
    &>div {
      width: 50%;
    }
    i {
      margin: 0 17px 0 0;
    }
    font-size: 12px;
    color: #d45657;
    text-transform: uppercase;
    line-height: 1.2;
    h4 {
      color: #353f48;
      text-transform: none;
    }
  }
}

.sb-submit {
  i {
    margin: 0 21px 0 0;
    float: left;
  }
  font-size: 12px;
  color: #4b545c;
  line-height: 1.3;
  h3, h4 {
    color: #62a62a;
    padding: 0;
  }
  h4 {
    font-size: 17px;
  }
  p {
    padding-bottom: 10px;
  }
}