a{
  color: $linkColor;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

strong{
  @include font-bold();
}

h1{
  @include font-light();
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 10px;
  strong{
    @include font-regular();
  }
}

h2{
  @include font-light();
  font-size: 35px;
  padding-bottom: 15px;
}

p{
  @include font-light();
  font-size: 20px;
  line-height: 30px;
}