.value-list {
  background: #fff;
  padding: 94px 0 0;
  .header {
    padding-right: 0;
    height: 94px;
  }
}

.show-on-map {
  height: 47px;
  line-height: 47px;
  background: #da6a61;
  display: block;
  padding: 0 45px 0 12px;
  @include box-sizing(border-box);
  color: #fff;
  font-size: 17px;
  position: relative;
  i {
    position: absolute;
    top: 12px;
    right: 20px;
    &.ico-arr-d_red2 {
      top: 20px;
    }
  }
}

.value-list__form {
  @extend .clearfix;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 0 0 $headerPaddingLR * -1;
  input[type=text] {
    width: 100%;
    height: 47px;
    line-height: 21px;
    padding: 13px $headerPaddingLR 13px 71px;
    background-color: #3f4951;
    color: #5c646a;
    font-size: 18px;
    @include placeholder(#5c646a, 21px);
  }
}

.value-list__form__submit {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #353f48;

  border: 0;
  width: 55px;
  height: 47px;
  &:before {
    content: '';
    position: absolute;
    left: 21px;
    top: 15px;
    display: block;
    @extend .ico-search;
    z-index: 199;
  }
  input {
    @include opacity(0);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 200;
    cursor: pointer;
  }
}

.list-wrapper {
  overflow: hidden;
}

.list__header {
  @extend .clearfix;
  padding: 0 13px;
  height: 57px;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    color: #d45657;
    font-size: 15px;
    line-height: 57px;
    text-transform: uppercase;
  }
}

.list__header__select {
  .textbox {
    width: 70px;
    background: none;
    color: #000;
    font-size: 12px;
    padding: 0;
    margin: 0;
    height: 57px;
    line-height: 57px;
    &:after {
      @extend .ico-arr-d_red;
      top: 25px;
    }
  }
  select {

  }
}

.list {
  &.list_search {
    .list__item__main{
      height: 68px;
    }
    .list__item__secondary {
      position: static;
      height: 0;
      width: 100%;
      background: none !important;
      overflow: hidden;
      padding: 0;
      @include transition(all 0.3s);
    }
    .opened {
      @include transform(translateX(0px));
      .list__item__secondary {
        height: 92px;
        padding: 4px 0 13px 0;
      }
    }
    .list__item__info {
      padding: 0 0 0 19px;
    }
    .list__item__title {
      padding: 0 0 7px 0;
    }
    .ico-arr-r {
      position: absolute;
      right: 10px;
      top: 37px;
    }
    .list__item__address {
      padding: 0 10px 0 0;
    }
  }
}

.list_search__ico {
  float: left;
  top: 3px;
}

.list__item__secondary__distance {
  float: left;
  display: block;
  width: 88px;
  text-align: center;
  color: #d35557;
  font-size: 18px;
}

.list__item {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  transition: all .4s;
  @include transform(translateX(0));
  &:nth-child(even) {
    .list__item__secondary {
      background: #91d23e;
    }
  }
  &.opened {
    @include transform(translateX(-159px));
  }

}

.list__item__main {
  padding: 12px 12px 8px 12px;
  overflow: hidden;
  img {
    float: left;
  }
}

.list__item__info {
  padding: 0 0 0 10px;
  overflow: hidden;
}

.list__item__title {
  color: #353f47;
  font-size: 17px;
  padding: 0 0 10px 0;
  overflow: hidden;
}

.list__item__distance {
  color: #d35557 !important;
  font-size: 15px !important;
  float: right;
}

.list__item__address {

  p {
    color: #353f47;
    font-size: 12px;
    line-height: 1.2;
  }

}

.list__item__rate {
  color: #353f47;
  font-size: 12px;
  line-height: 1.2;
  overflow: hidden;
  padding: 8px 0 0;
}

.rate {
  @include sprite-background(star-empty, $sprites-stars, 13px);
  background-repeat: repeat-x;
  display: block;
  width: 65px;
  i {
    @include sprite-background(star-full, $sprites-stars, 13px);
    background-repeat: repeat-x;
    display: block;
  }
}
.rate_w {
  @include sprite-background(star-empty, $sprites-stars_w, 16px);
  background-repeat: repeat-x;
  display: block;
  width: 80px;
  i {
    @include sprite-background(star-full, $sprites-stars_w, 16px);
    background-repeat: repeat-x;
    display: block;
  }
}

.list__item__rate__info {

}

.list__item__secondary {
  position: absolute;
  width: 163px;
  right: -159px;
  top: 0;
  height: 100%;
  background: #399c9b;
  @include box-sizing(border-box);
  padding: 21px 0 0 12px;
  color: #fff;
  h4 {
    font-size: 17px;
    padding-bottom: 13px;
  }
  p, time {
    font-size: 12px;
    line-height: 1.3;
    display: block;
  }
  time {
    font-family: $fontNameBold;
  }
}

.slider {
  position: relative;
  height: 28px;
  margin:1px 0 12px 0;
}

.slider__handle {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 3px 1px 1px rgba(0, 0, 1, .05), 0 0 1.5px rgba(0, 0, 0, .03), inset 0 0 1px rgba(0, 0, 0, .05);
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, .05);
}

.slider__progress {
  width: 100%;
  height: 2px;
  border-radius: 22px;
  background-clip: padding-box;
  background-color: #b4b4b6;
  position: relative;
  top: 50%;
  margin-top: -1px;
  i {
    display: block;
    background-color: #d35557;
    height: 2px;
  }
}


.list__item__slider {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 14px 0 0;
  .btn_black{
    height: 36px;
    line-height: 36px;
    font-size: 12px;

  }
}

