.value-list {
  background: #fff;
  padding: 94px 0 0;
  .header {
    padding-right: 0;
    height: 94px;
  }
}

.show-on-map {
  height: 47px;
  line-height: 47px;
  background: #da6a61;
  display: block;
  padding: 0 45px 0 12px;
  @include box-sizing(border-box);
  color: #fff;
  font-size: 17px;
  position: relative;
  i {
    position: absolute;
    top: 12px;
    right: 20px;
    &.ico-arr-d_red2 {
      top: 20px;
    }
  }
}

.value-list__form {
  @extend .clearfix;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 0 0 $headerPaddingLR * -1;
  input[type=text] {
    width: 100%;
    height: 47px;
    line-height: 21px;
    padding: 13px $headerPaddingLR 13px 71px;
    background-color: #3f4951;
    color: #fff;
    font-size: 18px;
    @include placeholder(#5c646a, 21px);
  }
}

.value-list__form__submit {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #353f48;

  border: 0;
  width: 55px;
  height: 47px;
  &:before {
    content: '';
    position: absolute;
    left: 21px;
    top: 15px;
    display: block;
    @extend .ico-search;
    z-index: 199;
  }
  input {
    @include opacity(0);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 200;
    cursor: pointer;
  }
}

.list-wrapper {
  overflow: hidden;
}

.list__header {
  @extend .clearfix;
  padding: 0 13px;
  height: 57px;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    color: #d45657;
    font-size: 15px;
    line-height: 57px;
    text-transform: uppercase;
  }
}

.list__header__select {
  .textbox {
    width: 70px;
    background: none;
    color: #000;
    font-size: 12px;
    padding: 0;
    margin: 0;
    height: 57px;
    line-height: 57px;
    &:after {
      @extend .ico-arr-d_red;
      top: 25px;
    }
  }
  select {

  }
}

.list {
  &.list_search {
    .list__item__main {
      height: 68px;
    }
    .list__item__secondary {
      position: static;
      height: 0;
      width: 100%;
      background: none !important;
      overflow: hidden;
      padding: 0;
      @include transition(all 0.3s);
    }
    .opened {
      @include transform(translateX(0px));
      .list__item__secondary {
        height: 92px;
        padding: 4px 0 13px 0;
      }
    }
    .list__item__info {
      padding: 0 0 0 19px;
    }
    .list__item__title {
      padding: 0 0 7px 0;
    }
    .ico-arr-r {
      position: absolute;
      right: 10px;
      top: 37px;
    }
    .list__item__address {
      padding: 0 10px 0 0;
    }
  }
}

.list_search__ico {
  float: left;
  top: 3px;
}

.list-counter {
  position: absolute;
  color: #fff;
  font-size: 17px;
  height: 27px;
  line-height: 27px;
  background: #d45657;
  left: 8px;
  top: 18px;
  padding: 0 12px 0 6px;
  border-radius: 0 100px 100px 0;
}

.list__item__secondary__distance {
  float: left;
  display: block;
  width: 88px;
  text-align: center;
  color: #d35557;
  font-size: 18px;
}

.list__item {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  transition: all .4s;
  @include transform(translateX(0));
  &:nth-child(even) {
    .list__item__secondary {
      background: #91d23e;
    }
  }
  &.opened {
    @include transform(translateX(-159px));
  }

  .ico-arr-r {
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -9px;
  }
}

.list__item__main {
  padding: 12px 12px 8px 12px;
  overflow: hidden;
  img {
    float: left;
  }
}

.list__item__info {
  padding: 0 0 0 10px;
  overflow: hidden;
}

.list__item__title {
  color: #353f47;
  font-size: 17px;
  padding: 0 0 10px 0;
  overflow: hidden;
}

.list__item__distance {
  color: #d35557 !important;
  font-size: 15px !important;
  float: right;
}

.list__item__address {

  p {
    color: #353f47;
    font-size: 12px;
    line-height: 1.2;
  }

}

.list__item__rate {
  color: #353f47;
  font-size: 12px;
  line-height: 1.2;
  overflow: hidden;
  padding: 8px 0 0;
}

.rate {
  @include sprite-background(star-empty, $sprites-stars, 13px);
  background-repeat: repeat-x;
  display: block;
  width: 65px;
  i {
    @include sprite-background(star-full, $sprites-stars, 13px);
    background-repeat: repeat-x;
    display: block;
  }
}

.rate_w {
  @include sprite-background(star-empty, $sprites-stars_w, 16px);
  background-repeat: repeat-x;
  display: block;
  width: 80px;
  i {
    @include sprite-background(star-full, $sprites-stars_w, 16px);
    background-repeat: repeat-x;
    display: block;
  }
}

.rate_w2 {
  @include sprite-background(star-empty, $sprites-stars_w2, 11px);
  background-repeat: repeat-x;
  display: block;
  width: 55px;
  i {
    @include sprite-background(star-full, $sprites-stars_w2, 11px);
    background-repeat: repeat-x;
    display: block;
  }
}

.list__item__rate__info {

}

.list__item__secondary {
  position: absolute;
  width: 163px;
  right: -159px;
  top: 0;
  height: 100%;
  background: #399c9b;
  @include box-sizing(border-box);
  padding: 21px 0 0 12px;
  color: #fff;
  h4 {
    font-size: 17px;
    padding-bottom: 13px;
  }
  p, time {
    font-size: 12px;
    line-height: 1.3;
    display: block;
  }
  time {
    font-family: $fontNameBold;
  }
}

.slider {
  position: relative;
  height: 28px;
  margin: 1px 0 12px 0;
}

.slider-axis {
  height: 11px;
  width: 100%;
  position: relative;
  top: 21px;
  i {
    display: block;
    width: 2.5px;
    height: 11px;
    background: #4a4a4a;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    @for $i from 1 to 7 {
      &:nth-child(#{$i}) {
        left: ($i - 1) * 24.9%;
      }
    }
  }
}

.slider__handle {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 3px 1px 1px rgba(0, 0, 1, .05), 0 0 1.5px rgba(0, 0, 0, .03), inset 0 0 1px rgba(0, 0, 0, .05);
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, .05);
}

.slider__progress {
  width: 100%;
  height: 2px;
  border-radius: 22px;
  background-clip: padding-box;
  background-color: #b4b4b6;
  position: relative;
  top: 50%;
  margin-top: -1px;
  i {
    display: block;
    background-color: #d35557;
    height: 2px;
  }
}

.list__item__slider {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 14px 0 0;
  .btn_black {
    height: 36px;
    line-height: 36px;
    font-size: 12px;

  }
}

.value-list_possible {
  @extend .value-list;
  padding-top: 47px !important;
  .header {
    height: 47px;
    h2 {
      line-height: 1.2;
      padding-top: 3px;
      padding-right: 30px;
      @include box-sizing(border-box);
    }
  }
  .list__item__info {
    padding-top: 10px !important;
  }
  .list__item__title,
  .list__item__address {
    color: #353f48;
    font-size: 17px;
    line-height: 1.1;
  }
}

h2.list-title {
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #353f48;
  color: #aeb0b3;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
}

.list__item__address-red {
  color: #d45657 !important;
}

.review-list {
  @extend .value-list;
  padding-top: 47px;
  .header, .header-sub-title {
    line-height: 1.3;
    color: #fff;
  }
  .header {
    height: 47px;
    h2 {
      line-height: 1.3;
      font-weight: 400;
    }
  }
  .show-on-map {
    padding: 0;
    width: 50px;
    line-height: 47px;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }
  .list__header {
    height: auto;
    padding: 0;
  }
  .list__item__main {
    padding: 8px;
  }
}

.list-tabs {
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding: 14px 0;
  a {
    display: inline-block;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    color: #d45657;
    font-weight: 400;
    border: 1px solid #d45657;
    background: #fff;
    width: 98px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &.active {
      color: #fff;
      background: #d45657;
    }
  }
}

.list-review {
  .list__item {
    border: 0;
  }
}

.list-review-info {
  padding: 8px;
  overflow: hidden;
  >.pull-left {
    width: 210px;
    padding-top: 12px;
  }
}

.list-review-info-row {
  overflow: hidden;
  padding-bottom: 7px;
  .rate {
    float: left;
  }
  h4 {
    overflow: hidden;
    color: #7fa445;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    padding: 0 0 0 13px;
  }
}

.review-details {
  color: #353f48;
  h3 {
    font-size: 18px !important;
    font-weight: 400;
    text-align: right;
    padding-bottom: 8px;
  }
  h4 {
    text-align: right;
    font-weight: 400;
    color: #d45657;
    font-size: 36px;
    padding-bottom: 8px;
  }
  table {
    font-size: 12px;
    line-height: 1.2;
    td {
      padding-bottom: 4px;
      &:first-child {
        padding-right: 15px;
      }
    }
  }
}

.hint-list {
  @extend .review-list;
  padding-bottom: 50px !important;
  .list__item {
    @include transform(translateX(0px));
    &.opened {
      @include transform(translateX(-55px));
    }
    img {
      margin: 0 8px 0 0;
    }
  }

  .list__item__secondary {
    width: 60px;
    padding: 0;
    right: -55px;
    a {
      margin: 18px auto;
    }
  }

  .list__item__info {
    padding: 0;
  }

  .list__item__title {
    time {
      display: block;
      font-size: 12px;
      padding: 6px 0 0;
    }
  }

  .list__item__address {
    padding: 0;
    font-size: 12px;
    line-height: 1.3;
    color: #353f48;
  }

  .list__item__rate {
    height: 33px;
    line-height: 32px;
    padding: 2px 0 0;
  }

  .list__item__main {
    padding-bottom: 3px;
  }

  .float_bottom {
    border: 0;
    padding: 0;
  }

}

.list__item__vote {
  overflow: hidden;
  a {
    position: relative;
    display: block;
    float: left;
    margin: 0 0 0 3px;
    @include box-sizing(border-box);
    padding: 0 0 0 6px;
    width: 65px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #e9e9e9;
  }
  i {
    right: 6px;
    position: absolute;

    &.ico-like2 {
      top: 2px;
    }

    &.ico-dislike {
      top: 6px;
    }
  }
}

.list__item__vote-like {
  color: #7fa445;
}

.list__item__vote-dislike {
  color: #d45657;
}

.review-list2 {
  @extend .review-list;
  padding-top: 163px;
  .header {
    h2 {
      line-height: 47px;
      font-weight: 400;
    }
  }
  .list__item-indicator {
    width: 41px;
    height: 41px;
    line-height: 41px;
    @include border-radius(42px);
    @include background-clip(padding-box);
    background-color: #d35557;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -20px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    &.checked {
      background-color: #84bf2f;
      i {
        @extend .ico-check4;
        position: relative;
        top: 11px;
        left: 9px;
      }
    }
    &.close {
      background-color: #c2c2c2;
      i {
        @extend .ico-x;
        position: relative;
        top: 10px;
        left: 10px;;
      }
    }
    &.food {
      i {
        @extend .ico-food2;
      }
    }
    .ico-food2 {
      position: relative;
      left: 13px;
      top: 6px;
    }
  }
  .list__item_time {

  }
  .list__item__address {
    address {
      position: relative;
      padding: 0 0 0 22px;
      color: #353f48;
      font-size: 12px;
      line-height: 1.3;
      &.address-status {
        color: #878787;
        i {
          top: 3px;
        }
      }
      &.address-checked {
        color: #62a62a;
        i {
          top: 3px;
        }
      }
      &.address-now {
        color: #43b3cf;
        position: relative;
        top: 2px;
        i {
          top: 1px;
        }
      }
      i {
        position: absolute;
        left: 0;
        top: 1px;
      }
    }
  }

  .header {
    height: auto;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    & > .clearfix {
      padding-left: 18px;
    }
  }
}

.header-bottom {
  background: #fff;
  @include box-sizing(border-box);
  padding: 5px 3px;
  a {
    height: 49px;
    line-height: 49px;
    background-color: #353f48;
    color: #d1d2d4;
    display: block;
    text-align: center;
  }
  i {
    display: inline-block;
    position: relative;
    top: 6px;
    margin: 0 14px 0 0;
  }
  & >.center {
    color: #353f48;
    font-size: 17px;
    padding: 15px 25px 20px 8px;
  }
}

.review-list3 {
  @extend .review-list2;
  padding-top: 106px;
  padding-bottom: 49px;
  .header-bottom {
    color: #353f48;
    font-size: 17px;
    padding: 10px 10px 5px;
  }
  .list__item {
    &.checked {
      background: #37414a;
      .ico-time6{
        @extend .ico-time7;
      }
      .ico-person4{
        @extend .ico-person6;
      }
      .list__item__title,
      address{
        color: #fff;
      }
      .address-now{
        color: #43b3cf !important;
      }
    }
  }
}

.notify-list {
  background: #fff;
  padding-top: 47px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  .content {
    padding-left: 0;
    padding-right: 0;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 51px;
      height: 100%;
      background: #ebecec;
      border-right: 2px solid #d3d4d4;
    }
  }
  .list {
    position: relative;
    z-index: 3;
  }
  .list__item {
    border-bottom: 1px solid #d3d4d4;
    overflow: hidden;
    position: relative;
    color: #3b4149;

    &.nl-person {
      time {
        i {
          &:before {
            @extend .ico-person5;
            top: 2px;
            left: 4px;
          }

        }
      }
    }
    &.nl-check {
      time {
        i {
          &:before {
            @extend .ico-check5;
            top: 3px;
            left: 5px;
          }
        }
      }
    }

    time {
      font-size: 12px;
      width: 51px;
      float: left;
      @include box-sizing(border-box);
      padding: 17px 0 0 11px;
      i {
        display: block;
        width: 21px;
        height: 21px;
        left: 39px;
        top: 10px;
        position: absolute;
        background: #fffbfc;
        border: 2px solid #bababa;
        @include border-radius(100px);
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    article {
      padding: 13px 15px 17px 62px;
      position: relative;
      min-height: 35px;
      line-height: 1.2;
      .ico-food3,
      img {
        display: block;
        position: absolute;
        top: 12px;
        left: 25px;
      }
      p {
        font-size: 12px;
        span {
          display: block;
          &.red {
            color: #d45657;
            display: inline;
          }
        }
      }
    }
  }
}
