$fontNameBold:"kelson_sans_rubold";
$fontNameLight:"kelson_sans_rulight";
$fontNameRegular:"kelson_sans_ruregular";
$textColor:#000;
$linkColor: #519fff;
$wrapperPaddings:15px;
$headerPaddingLR:18px;



